
<% include partials/header %>
<h1>THis is the show template</h1>

<p>
    <%= campground.name %>
    <%= campground.description %>
</p>
<img src="<%= campground.image %>" alt="">
<p> <%= campground.description %></p>

<% include partials/footer %>