<h1>Sign UP Form</h1>

<form action="/register" method="POST">
    <input type="text" name = 'username' placeholder="username">
    <input type="text" name = 'password' placeholder="password">
    <button>Submit</button>
</form>

<li>
    <a href="/register">Sign UP!</a>
    <a href="/login">Login!</a>
    <a href="/logout">Logout</a>
</li>
