<h1>This is the secrets Page!</h1>

<p>You found me!</p>

<img src="http://2.bp.blogspot.com/_VJJFFnM-ZNg/SwF411hftQI/AAAAAAAAB_o/XEnK-DeoPkU/s400/shhh.jpg" alt="">

<li>
    <a href="/register">Sign UP!</a>
    <a href="/login">Login!</a>
    <a href="/logout">Logout</a>
</li>
